<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
</head>

<body>
    <h1>Выгрузка:</h1>
    <div id='main-container'>

    </div>
</body>

</html>